@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:59481/api/coches"
                , datatype: "json"
                , method: "GET"
                , success: function (data) {
                    var html = "";
                    $.each(data, function (key, coche) {
                        html += "<tr>";
                        html += "<td>" + coche.Marca + "</td>";
                        html += "<td>" + coche.Modelo + "</td>";
                        html += "<td>";
                        html += "<img src='" + coche.Imagen + "'";
                        html += "style='width: 90px; height: 90px'";
                        html += "</td>";
                        html += "</tr>";

                    });
                    $("#tablacoches tbody").html(html);

                }
            });

        });
    </script>
}
<div class="jumbotron">
    <table class="table table-bordered" id="tablacoches">
        <thead>
            <tr>
                <th>MARCA</th>
                <th>MODELO</th>
                <th>IMAGEN</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
